$black: #303030 !default;
$white: #ffffff !default;
$red: #f51821 !default;
$gray: #666666 !default;
$darkgray: #404040 !default;
$lightgray: #f8f8f8 !default;
$blue: #12b1d9 !default;
$orange: #ef8322 !default; 
$base: gray !default;


$form-border-radius: 4px !default;
$form-border-width: 2px !default;
$form-border-color: gray !default;
$form-inputbg-color: darkgray !default;
$form-input-padding: 1rem !default; 