@import "color_default";

// $border-radius-size: 3;
// $border-radius: #{$border-radius-size}px;

// FONTS
/*
$font-weights: (
	"hairline": 100,
	"thin": 200,
	"light": 300,
	"book": 300,
	"demi": 300,
	"regular": 400,
	"normal": 400,
	"medium": 500,
	"semibold": 600,
	"bold": 700,
	"heavy": 800,
	"black": 900
);
*/
// $font-hairline: map-get($font-weights,hairline);
// $font-thin: map-get($font-weights,thin);
// $font-light: map-get($font-weights,light);
// $font-regular: map-get($font-weights,regular);
// $font-medium: map-get($font-weights,medium);
// $font-semibold: map-get($font-weights,semibold);
// $font-bold: map-get($font-weights,bold);
// $font-heavy: map-get($font-weights,heavy);
// $font-black: map-get($font-weights,unquote('black'));


// FONTS SETTINGS

// $main-font: '';
// $main-font-family: #{$main-font},sans-serif;

// $sub-font: '';
// $sub-font-family: #{$sub-font},serif;

// FONTS INCLUDE
//@include font-include($EXAMPLE-FONT,"#{$EXAMPLE-FONT}-Regular",$font-regular,normal);


// GRID

// $grid-columns: 12;
// $grid-spacing: 0;
// $half-grid-spacing: $grid-spacing / 2;

// $auto-styling: true;
// $auto-imagesize: true;
// $grid-dev: false;
// $grid-forms: true;
// $grid-max-width: 1080;
// $row-width: #{$grid-max-width}px;

// $grid-small: 0,640; 
// $grid-medium: 641,1024;
// $grid-large: 1025,1440;
// $grid-xlarge: 1441,1920;
// $grid-xxlarge: 1921,9999;

// $mobile-max: last($grid-small);
// $desktop-min: first($grid-medium);

// $grid-sizes: (small last($grid-small) yellow) (medium last($grid-medium) blue) (large last($grid-large) yellow) (xlarge last($grid-xlarge) red) (xxlarge last($grid-xlarge) red);


// MEDIA QUERIES

// $small-only: "screen and (max-width: #{last($grid-medium)}px)";
// $medium-up: "screen and (min-width:#{first($grid-small)}px)";
// $medium-down: "screen and (max-width: #{last($grid-small)}px)";

// $medium-only: "screen and (min-width:#{first($grid-medium)}px) and (max-width: #{last($grid-medium)}px)";
// $medium-up: "screen and (min-width:#{first($grid-medium)}px)";
// $medium-down: "screen and (max-width: #{last($grid-medium)}px)";

// $large-only: "screen and (min-width:#{first($grid-large)}px) and (max-width: #{last($grid-large)}px)";
// $large-up: "screen and (min-width:#{first($grid-large)}px)";
// $large-down: "screen and (max-width: #{last($grid-large)}px)";

// $xlarge-only: "screen and (min-width:#{first($grid-xlarge)}px) and (max-width: #{last($grid-xlarge)}px)";
// $xlarge-up: "screen and (min-width:#{first($grid-xlarge)}px)";
// $xlarge-down: "screen and (max-width: #{last($grid-xlarge)}px)";

// $xxlarge-only: "screen and (min-width:#{first($grid-xxlarge)}px) and (max-width: #{last($grid-xxlarge)}px)";
// $xxlarge-up: "screen and (min-width:#{first($grid-xxlarge)}px)";
// $xxlarge-down: "screen and (max-width: #{last($grid-xxlarge)}px)";


// form settings

// $popup-border: 0px;

// $popup-title-background: rgba(black,0.5);
// $popup-title-color: $white;