@import "compass/css3";
@import "../vendor/framed/functions";
@import "color_default";
@import "../vendor/framed/mixins";
@import "settings";
@import "../vendor/framed/grid";


body,html{ width:100%; height:100%; margin:0; padding:0; }
body{ font-family: $main-font-family; background: $white; font-weight: $font-medium; color: $black; line-height: 150%; }

h1,h2{ font-family: $sub-font-family; }
h1{ font-size: 3rem; }
h2{ font-size: 2.5rem; }

a{ color: inherit; text-decoration: none; font-weight: $font-bold;  
	&:hover{ text-decoration: underline; }
}

header{ }

section{ }

footer{ }



// FOR SMALL
@media #{$medium-only}{ }

// FOR MEDIUM
@media #{$small-only}{ }



