@import "color_default";

$transition: .3s !default;
$border-radius-size: 3 !default;
$border-radius: #{$border-radius-size}px !default;

// FONTS
$font-weights: (
	"hairline": 100,
	"thin": 200,
	"light": 300,
	"book": 300,
	"demi": 300,
	"regular": 400,
	"normal": 400,
	"medium": 500,
	"semibold": 600,
	"bold": 700,
	"heavy": 800,
	"black": 900
);
$font-hairline: map-get($font-weights,hairline);
$font-thin: map-get($font-weights,thin);
$font-light: map-get($font-weights,light);
$font-regular: map-get($font-weights,regular);
$font-medium: map-get($font-weights,medium);
$font-semibold: map-get($font-weights,semibold);
$font-bold: map-get($font-weights,bold);
$font-heavy: map-get($font-weights,heavy);
$font-black: map-get($font-weights,unquote('black'));


// FONTS SETTINGS

$main-font: '' !default;
$main-font-family: #{$main-font},sans-serif !default;

$sub-font: '' !default;
$sub-font-family: #{$sub-font},serif !default;

// FONTS INCLUDE
//@include font-include($EXAMPLE-FONT,"#{$EXAMPLE-FONT}-Regular",$font-regular,normal);


// GRID

$grid-columns: 12 !default;
$grid-spacing: 0 !default;
$half-grid-spacing: $grid-spacing / 2 !default;

$auto-imagesize: true !default;
$grid-dev: false !default;
$grid-forms: true !default;
$grid-max-width: 1080 !default;
$row-width: #{$grid-max-width}px !default;

$grid-small: 0,640 !default; 
$grid-medium: 641,1024 !default;
$grid-large: 1025,1440 !default;
$grid-xlarge: 1441,1920 !default;
$grid-xxlarge: 1921,9999 !default;

$mobile-max: last($grid-small) !default;
$desktop-min: first($grid-medium) !default;

$grid-sizes: (small first($grid-small) yellow) (medium first($grid-medium) blue) (large first($grid-large) yellow) (xlarge first($grid-xlarge) red) (xxlarge first($grid-xlarge) red);


// MEDIA QUERIES

$small-only: "screen and (max-width: #{last($grid-medium)}px)" !default;
$medium-up: "screen and (min-width:#{first($grid-small)}px)" !default;
$medium-down: "screen and (max-width: #{last($grid-small)}px)" !default;

$medium-only: "screen and (min-width:#{first($grid-medium)}px) and (max-width: #{last($grid-medium)}px)" !default;
$medium-up: "screen and (min-width:#{first($grid-medium)}px)" !default;
$medium-down: "screen and (max-width: #{last($grid-medium)}px)" !default;

$large-only: "screen and (min-width:#{first($grid-large)}px) and (max-width: #{last($grid-large)}px)" !default;
$large-up: "screen and (min-width:#{first($grid-large)}px)" !default;
$large-down: "screen and (max-width: #{last($grid-large)}px)" !default;

$xlarge-only: "screen and (min-width:#{first($grid-xlarge)}px) and (max-width: #{last($grid-xlarge)}px)" !default;
$xlarge-up: "screen and (min-width:#{first($grid-xlarge)}px)" !default;
$xlarge-down: "screen and (max-width: #{last($grid-xlarge)}px)" !default;

$xxlarge-only: "screen and (min-width:#{first($grid-xxlarge)}px) and (max-width: #{last($grid-xxlarge)}px)" !default;
$xxlarge-up: "screen and (min-width:#{first($grid-xxlarge)}px)" !default;
$xxlarge-down: "screen and (max-width: #{last($grid-xxlarge)}px)" !default;

$form-border-radius: 4px !default;
$form-border-width: 2px !default;
$form-border-color: gray !default;
$form-inputbg-color: darkgray !default;
$form-input-padding: 1rem !default; 

// modal settings

$modal-border: 0px !default;
$modal-title-background: rgba(black,0.5);
$modal-title-color: $white;